footer.container
  .rights
    a(href="https://creativecommons.org/licenses/by-nc-sa/3.0/") CC BY-NC-SA 3.0
    br
    span Powered by 
    a(href="http://hexo.io", target="_blank") Hexo
    span , Theme 
    a(href="https://github.com/SDYZMUN/hexo-theme-curry", target="_blank") Curry
    span .
